@page "/"
@inject TriviaScore TriviaScore
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Trivia game</PageTitle>

<div class="pageContent">

    <!-- Play button -->
    <NavLink class="menuLink" href="/category-picker">
        <div class="menuBox">
            <div class="menuBoxText">Play</div>
        </div>
    </NavLink>

    <!-- Game information button -->
    <NavLink class="menuLink" href="/game-info">
        <div class="menuBox">
            <div class="menuBoxText">Game information</div>
        </div>
    </NavLink> 

    <!-- Personal statistics button -->
    <NavLink class="menuLink" href="/personal-stats">
        <div class="menuBox"> 
            <div class="menuBoxText">Personal statistics</div>
        </div>
    </NavLink>

</div>


@code {
    // Initialize highScores if they are null
    // Read highscore on loading first page, used for category scores
    protected override async Task OnInitializedAsync()
    {
        
        if (await localStorage.GetItemAsync<string>("highScore_generalKnowledgeTrivia") is null ||
            await localStorage.GetItemAsync<string>("highScore_gamingTrivia") is null)
        {
            await localStorage.SetItemAsync("highScore_generalKnowledgeTrivia", 0);
            await localStorage.SetItemAsync("highScore_gamingTrivia", 0);
        }
        
        await ReadHighscore();
    }

    
    public async Task ReadHighscore()
    {
        var highscore = await localStorage.GetItemAsync<string>("highScore_generalKnowledgeTrivia");
        TriviaScore.Highscore = Int32.Parse(highscore);
    }
}
