@page "/personal-stats"

<PageTitle>Personal Statistics</PageTitle>

<div class="pageContent">

    <!-- Category score button -->
    <NavLink class="menuLink" href="/category-scores">
        <div class="menuBox" >
            <div class="menuBoxText">Category scores</div>
        </div>
    </NavLink>

    <!-- Back to menu button -->
    <NavLink class="menuLink" href="/">
        <div class="menuBox">
            <div class="menuBoxText">Back to menu</div>
        </div>
    </NavLink>

</div>
