@page "/personal-stats"

<PageTitle>Personal Statistics</PageTitle>

<div class="pageContent">

    <!-- Category score button -->
    <div class="menuBox" >
        <NavLink class="menuLink" href="/category-scores">
            <div class="menuBoxText">Category scores</div>
        </NavLink>
    </div>

    <!-- Back to menu button -->
    <div class="menuBox">
        <NavLink class="menuLink" href="/">
            <div class="menuBoxText">Back to menu</div>
        </NavLink>
    </div>

</div>
