@page "/game-info"

<PageTitle>Game Information</PageTitle>

<div class="pageContent">

    <!-- General game info button -->
    <div class="menuBox">
        <NavLink class="menuLink" href="/general-game-info">
            <div class="menuBoxText">General game info</div>
        </NavLink>
    </div>

    <!-- Back to menu button -->
    <div class="menuBox">
        <NavLink class="menuLink" href="/">
            <div class="menuBoxText">Back to menu</div>
        </NavLink>
    </div>

</div>


