@page "/game-info"

<PageTitle>Game information</PageTitle>

<div class="pageContent">

    <!-- General game info button -->
    <NavLink class="menuLink" href="/general-game-info">
        <div class="menuBox">
            <div class="menuBoxText">General game info</div>
        </div>
    </NavLink>

    <!-- Back to menu button -->
    <NavLink class="menuLink" href="/">
        <div class="menuBox">
            <div class="menuBoxText">Back to menu</div>
        </div>
    </NavLink>

</div>


