@page "/game-information"

<PageTitle>Game information</PageTitle>

<div class="pageContent">

    <!-- General game info text -->
    <div class="gameInfoTitle">Game information</div>
    <div class="gameInfoText">
        <dl>
            <dt>4 alternatives for each question</dt>
            <dd>1 correct answer</dd>
            <dt>10 seconds per question</dt>
            <dt>Start with 3 lives</dt>
            <dd>Lose 1 life each time you get the wrong answer or if time runs out</dd>
            <dd>Game over if all 3 lives are lost</dd>
            <dt>Score is the number of questions you get past</dt>
            <dd>Wrong answers count</dd>
            <dd>Score is separate for each category</dd>
            <dd>Scores for each category can be found under "Personal statistics" in main menu</dd>
        </dl>
    </div>

    <!-- Back to menu button -->
    <NavLink class="menuLink" href="/">
        <div class="menuBox">
            <div class="menuBoxText">Back to menu</div>
        </div>
    </NavLink>

</div>

