/* General game information CSS */
.generalGameInfoTitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
}

.generalGameInfoText {
    width: 25rem;
    text-align: center;
}
