@page "/category-picker"

<PageTitle>Category Picker</PageTitle>

<div class="menuContent">

    <!-- General knowledge button -->
    <div class="menuBox">
        <NavLink class="menuLink" href="/gameplay">
            <div class="menuBoxText">General Knowledge</div>
        </NavLink>
    </div>

    <!-- More to come.. -->
    <div class="menuBox">
        <div class="menuBoxText">More to come..</div>
    </div>

    <!-- Back to menu button -->
    <div class="menuBox">
        <NavLink class="menuLink" href="/">
            <div class="menuBoxText">Back to menu</div>
        </NavLink>
    </div>

</div>



