@page "/category-picker"

<PageTitle>Category picker</PageTitle>

<div class="menuContent">

    <!-- General knowledge button -->
    <NavLink class="menuLink" href="/generalKnowledgeTrivia">
        <div class="menuBox">
            <div class="menuBoxText">General knowledge</div>
        </div>
    </NavLink>

    <!-- Gaming trivia button -->
    <NavLink class="menuLink" href="/gamingTrivia">
        <div class="menuBox">
            <div class="menuBoxText">Gaming trivia</div>
        </div>
    </NavLink>

    <!-- More to come.. -->
    <div class="menuBox">
        <div class="menuBoxText">More to come..</div>
    </div>

    <!-- Back to menu button -->
    <NavLink class="menuLink" href="/">
        <div class="menuBox">
            <div class="menuBoxText">Back to menu</div>
        </div>
    </NavLink>

</div>



